html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
}

.top {
    flex-direction: column;
    flex: 1 1 200px;
}

.bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    flex: 4 1 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60%;
}

button {
    height: 60%;
    width: 80%;
    padding: 80%;
}

#header {
    text-align: center;
}